<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="../img/icon-car.png" alt="img" style="height: 100%; width: 7%; margin-right: 15px;">
        <span class="fs-4">Owners and Cars</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link <% if (active === 'home'){ %>active<% } %>" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/query1" class="nav-link <% if (active === 'query1'){ %>active<% } %>">Запрос 1</a></li>
        <li class="nav-item"><a href="/query2" class="nav-link <% if (active === 'query2'){ %>active<% } %>">Запрос 2</a></li>
      </ul>
    </header>
</div>